.ButtonStyled {

    padding: 10px;
    margin: 2px;
    border-radius: 10px;

    cursor: pointer;

    color: black;
    background-color: white;
    font-family: "Lucida Console", Courier, monospace;

    align-items: center;
    justify-content: center;

    
}